<a href="https://colab.research.google.com/github/fralfaro/MAT281_2023/blob/main/docs/labs/lab_031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd

In [4]:
# load data
url='https://drive.google.com/file/d/1SW1_vWBLd50COj4FbQdZenqAwA0nLDqC/view?usp=drive_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

df = pd.read_csv(url, sep="|" )
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [9]:
df.shape[0]

943

El numero de observaciones lo obtenemos apartir del comando shape, que nos devuelve la dimension de los datos(numero de filas y columnas), donde el numerom de filas serian las observaciones de los datos ,

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [10]:
df.shape[1]

5

Nuevamente usando el comando shape, obtenemos el numero de columnas de los datos entrgados.

3.- Imprime el nombre de todas las columnas

In [18]:
df.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

Mediante el comando columns, obtenemos un arreglo con los nombres de cada columna de izquierda a derecha.

4.- Imprima el índice del dataframe

In [19]:
df.index

RangeIndex(start=0, stop=943, step=1)

5.- ¿Cuál es el tipo de datos de cada columna?

In [20]:
df.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [58]:
df.describe(include='all')

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

Mediante describe(include=all) obtenemos las descripcion de todos los datos de la tabla

7.- Imprimir solo la columna de **occupation**.

In [80]:
df['occupation'].tail()

938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [29]:
df['occupation'].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

9.- ¿Cuál es la ocupación más frecuente?

In [41]:
df['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

Mediante value_counts obtenemos la frecuencia de cada ocupacion y podemos observar que la mas frecuente es student

10.- ¿Cuál es la edad media de los usuarios?

In [38]:
print('La edad media de las datos observados es:', int(df['age'].mean()))

La edad media de las datos observados es: 34

11.- ¿Cuál es la edad con menos ocurrencia?

In [79]:
df['age'].value_counts(ascending=True)

73     1
10     1
66     1
7      1
11     1
      ..
27    35
28    36
22    37
25    38
30    39
Name: age, Length: 61, dtype: int64

Notemos que existen varias edades que tienen solo se repiten 1 vez y estan serian las de menos ocurrencia